
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(#FF7752, #ffaeae);
  
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-link {
  color: white;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-nav {
  padding: 16px 32px;
  width: 150px;
  height: 60px;
  background: #462E68;
  border-radius: 32px;
  flex: none;
  order: 3;
  flex-grow: 0;
  border-style: none;
  color: white;
  text-decoration: none;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
  
}
.bd-mode-toggle {
  z-index: 1500;
}



/*Contato*/

.title-form h1 {

  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  color: #4c4e4e;
  font-family: 'open_sansbold';
  margin-left: 10px;
  margin-bottom: 35px;

}

.title-form h1:before {

  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 5px;
  width: 55px;
  background-color: #4c4e4e;

}

.title-form h1:after {

  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 98%;
  background-color: #4c4e4e;

}

.box-formulario {

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:60px 0;

}

.formulario {

    width: 800px;
    padding: 60px 5%;
    text-align: center;

}


.formulario span {
  position: relative;
  display: flex;
  margin: 15px 10px;

}

/*input Animado*/

.input-slide {

  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.input-slide::-webkit-input-placeholder {

  color: #4c4e4e;
  font-weight: 300;

}

.input-slide + label {

  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px #ffaeae solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;

}

.input-slide + label:after {

  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.input-slide:focus,
.input-slidev:active {
  
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.input-slide:focus::-webkit-input-placeholder,
.input-slide:active::-webkit-input-placeholder {

  color: #aaa;

}

.input-slide:focus + label,
.input-slide:active + label {

  color: #fff;
  transform: translateX(-100%);

}

.input-slide:focus + label:after,
.input-slide:active + label:after {
  
  background: #4c4e4e;
  transform: translate(100%);

}

/*TextArea*/

.textarea-slide {

  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  resize: none;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;

}

.textarea-slide::-webkit-input-placeholder {

  color: #4c4e4e;
  font-weight: 300;

}

.textarea-slide + label {

  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px #ffaeae solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all .3s ease-in-out, color .3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;

}

.textarea-slide + label:after {

  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.textarea-slide:focus,
.textarea-slide:active {
  
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

.textarea-slide:focus::-webkit-input-placeholder,
.textarea-slide:active::-webkit-input-placeholder {

  color: #aaa;

}

.textarea-slide:focus + label,
.textarea-slide:active + label {

  color: #fff;
  transform: translateX(-100%);

}

.textarea-slide:focus + label:after,
.textarea-slide:active + label:after {
  
  background: #4c4e4e;
  transform: translate(100%);

}

/*Botão*/
.box-btn { 

 width: 100%;
 padding: 0 10px;
 float: left;

}

.btn-envia {
  
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  background-color: #4c4e4e;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  border-radius: 3px;
  width: 100%;

}

.zoom-shadow {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.zoom-shadow:hover, .zoom-shadow:focus, .zoom-shadow:active {
  
  box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}


/*Footer*/

/*FOOTER*/





.main_footer   { 
  color: black; 
  font-size:1em;
 }

.main_footer .content { 
  float:left;
  width:80%; 
  margin:0 10%; 
  padding: 5em 0; 

}

.container { 
  float:left;
  width:100%;
}
.colfooter { 

width:100%; 
height:auto; 
float:left; 
margin-bottom:2em;

}

.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:black; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#313131; }

.colfooter .titleFooter   { 

font-family: 'Lato', sans-serif; 
font-size:1.3em; 
color: black; 
padding-bottom: 0.5em; 
margin-bottom:0.5em; 
border-bottom:1px black solid;

}

.colfooter p  { 

font-family: 'Lato', sans-serif; 
color:black; 
font-size:1em; 
height:25px; 

} 

.botao{

padding: 10px 12px;
color: black;
font-family: 'Lato', sans-serif;
letter-spacing:2px;
text-align: center;
position: relative;
text-decoration: none;
display:inline-block;
margin-right:7px;

}

.botao::before {

content: '';
position: absolute;
bottom: 50%;
left: 0px;
width: 100%;
height: 1px;
background: #6098FF;
display: block;
-webkit-transform-origin: left top;
-ms-transform-origin: left top;
transform-origin: left top;
-webkit-transform: scale(0, 1);
-ms-transform: scale(0, 1);
transform: scale(0, 1);
-webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
transition: transform 0.2s cubic-bezier(1, 0, 0, 1)
}

.botao:hover::before {

-webkit-transform-origin: right top;
-ms-transform-origin: right top;
transform-origin: right top;
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1)
}

.botao{
  font-size:1em;
  color:black;
  text-align:center;
  font-family: 'Lato', sans-serif;
  border:1px solid black;
  border-radius:50px;
  overflow: hidden!important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: transparent!important;
  z-index:10;
  
}

.botao:hover{
  border: 1px solid #262626;
  color: #ffaeae !important;
}

.botao::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #262626;
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg); 
  transform: skewX(-15deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.botao::after {

  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #e82626;
  position: absolute;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg); 
  transform: skewX(-15deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}

.botao:hover::before, .botao:hover::before{
 
  opacity:1;
  width: 120%;
}

.botao:hover::after, .botao:hover::after{
  opacity:1;
  width: 150%;
}

.main_footer_copy   { width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:black; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:black; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#313131 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }

/*Responsivo*/
/*768PX*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}

}